Flask==2.3.3
Flask-Cors==4.0.0
PyPDF2==3.0.1
PyMuPDF==1.23.8  # Use PyMuPDF instead of fitz
pdf2docx==0.5.6
Pillow==9.5.0
mysql-connector-python==8.2.0
Werkzeug==2.3.7
gunicorn==21.2.0
python-dotenv==1.0.0